@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="jumbotron" style="text-align: center;">
    <h1>SuperAdmin Dashboard.</h1>
    <h4 class="lead" style="text-align: center;">
        <b><u>@User.Identity.GetUserName()</u></b>
    </h4>
    <hr />
    <div style="padding:5px; border: 1px solid black; background-color: white;" class="row">
        <p>Manage Your Website Here. SuperAdmin.</p>
    </div>
</div>
<br />
<div class="row">
    <div class="container">

        <div class="col-md-3 col-md-9" style="border-right: 1px solid black;">
            <h2 style="border: 1px solid black; text-align: center;">Menu</h2>
            <h4><u>Roles Menu</u></h4>
            <br />
            @Html.ActionLink("Manage User Roles", "UsersWithRoles", "AppUsers", null, new { @class = "btn btn-default" })<br /><br />
            @Html.ActionLink("Manage Roles", "Index", "Role", null, new { @class = "btn btn-default" })
            <br />
            <hr />
            <h4><u>Customers Menu</u></h4>
            <br />
            @Html.ActionLink("Manage All Cutsomer Users", "customerIndex", "SuperAdmin", null, new { @class = "btn btn-default" })<br /><br />
            @Html.ActionLink("Manage All Delivery Users", "Index", "DeliverySystem", null, new { @class = "btn btn-danger" })<br /><br />
            @Html.ActionLink("Register New Delivery User", "Register", "SuperAdmin", null, new { @class = "btn btn-danger" })
            <br />
            <hr />
            <h4><u>Store Information Menu</u> </h4>
            <br />
            @Html.ActionLink("Manage Products", "Index", "Products", null, new { @class = "btn btn-default" })<br /><br />
            @Html.ActionLink("Manage Brands", "Index", "Brands", null, new { @class = "btn btn-default" })<br /><br />
            @Html.ActionLink("Manage Categories", "Index", "Categories", null, new { @class = "btn btn-default" })
            <br />
            <br />
        </div>
        <div class="col-md-9" style="background-color: silver; padding:5px;">
            <h1 style="border: 1px solid black; text-align: center;"><u>SuperAdmin To-Do List</u></h1>
            <br />
            <br />
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Storck Management system</u></h4>
                <br />
                @Html.ActionLink("Storck management", "#", "#", null, new { @class = "btn btn-danger" })
            </div>
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Orders & Shopping</u></h4>
                <br />
                @Html.ActionLink("Orders", "Index", "Orders", null, new { @class = "btn btn-default" })<br />
            </div>
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Delivery & Shipping</u></h4>
                <br />
                @Html.ActionLink("Shipping", "Index", "DeliverySystem", null, new { @class = "btn btn-primary" })<br />
            </div>
        </div>
        <br />
        <hr />
        <div class="col-md-9" style="background-color: silver; padding:5px;">
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Subscriptions</u></h4>
                <br />
                @Html.ActionLink("Subscriptions management", "#", "#", null, new { @class = "btn btn-danger" })
            </div>
            <div class="col-md-4" style="border-right: 1px solid black;">
                <h4><u>Discounts</u></h4>
                <br />
                @Html.ActionLink("Discount management", "#", "#", null, new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</div>
