@model IEnumerable<MyBookingRoles.Models.Store.Brand>

@{
    ViewBag.Title = "Brand Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("BrandCatalogue", "Store", FormMethod.Get))
{
    <div class="row" style="background-color: black; padding: 5px">
        <div class="col-md-2">
            <h4>Brands Catalogue </h4>
        </div>
        <div class="col-md-2">
            @Html.TextBox("searchWord", null, null, new { @class = "form-control" })

        </div>
        <div class="col-md-2">
            <input type="submit" value="Search Product" class="btn btn-success" />
        </div>
    </div>
}
<br />
<div class="jumbotron" style="text-align: center;">
    Image Here.
</div>

<div class="row" style="padding: 5px">
    @if (Model.Count() == 0)
    {
        <h5>
            No Match Found.
        </h5>
    }
    else
    {
        foreach (var item in Model)
        {
            <div class="col-md-3" style="border-left: 1px solid black;">
                <div style="border: 1px solid white; width:150px; height:100px;">
                    <center>
                        <h3 style="">@Html.DisplayFor(modelItem => item.Name)</h3>
                        <p>@Html.ActionLink("View All Products", "ProdCatalogue", new { searchWord = item.Name}, new { @class = "btn  btn-success" })</p>
                    </center>
                </div>
            </div>

        }
    }

</div>
<hr />
<div>
    @Html.ActionLink("Back to Full List", "BrandCatalogue", null, new { @class = "btn  btn-primary" })
    |
    @Html.ActionLink("Back to  Home Page", "Index", "Home", null, new { @class = "btn btn-default" })

</div>