@model IEnumerable<MyBookingRoles.Models.Store.Order>

@{
    ViewBag.Title = "Order List";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
@using (Html.BeginForm("Index", "Orders", FormMethod.Get))
{
    <div class="row" style="background-color: black; padding: 5px">
        <div class="col-md-2">
            <h4>Order List</h4>
        </div>
        <div class="col-md-2 ">
            @Html.TextBox("searchWord",null, new { @class = "form-control" })
        </div>
        <div class="col-md-2">
            <input type="submit" value="Sort Order" class="btn btn-success" />
        </div>
    </div>
}
<br />
<div style="text-align:center;">
    @Html.ActionLink("Approved Orders", "Index", "Orders", new { searchWord = "Approved" }, new { @class = "btn  btn-success" }) |
    @Html.ActionLink("Cancelled Orders", "Index", "Orders", new { searchWord = "Cancelled" }, new { @class = "btn  btn-danger" }) |
    @Html.ActionLink("Refresh","Index", "Orders",null, new { @class = "btn  btn-primary" })
</div>
<br />

<table class="table table-bordered table-hover table-condensed" id="UsersWithRoles">
    <tr style="background-color: gray;">
        <th>
            @Html.DisplayNameFor(model => model.OrderName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderDate)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>

        <th style="text-align:center;">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr style="text-align:center;">
            <td>
                    @Html.DisplayFor(modelItem => item.OrderName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
   
            <td >
                @Html.ActionLink("Order Details", "Details", new { id = item.OrderId }, new { @class = "btn btn-primary" })
            </td>
        </tr>
    }

</table>


@Html.ActionLink("Back To SuperAdmin", "Index", "SuperAdmin", null, new { @class = "btn btn-primary" })

